.App {
  height: calc(100vh - 128px);
  margin: 64px 0 0 0;
  padding: 32px 32px;
  .App-body {
    height: calc(100vh - 128px);
    display: flex;
    flex-direction: row;
    .Input {
      width: 300px;
      .Layers {
        display: flex;
        flex-direction: column;
        padding: 0 32px 0 0;
        .Input-Field {
          margin: 16px 0;
          display: flex;
          align-items:flex-end;
          .Input {
            flex: 1;
          }
          .Button {
            width: max-content;
            height: max-content;
          }
        }
        .Selected-Light {
          margin: 16px 0;
          padding: 16px;
          border: solid grey 1px;
          border-radius: 8px;
          .Report-Button {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 16px 0 0 0;
          }
        }
      }
      .Loading {
        display: flex;
        justify-content: center;
        align-items: center;
        width: calc(100% - 16px);
        padding: 32px 0px;
      }
    }
    .Map {
      width: calc(100vw - 64px - 300px);
    }
  }
}

.LayersAdmin{
  display: flex;
  flex-direction: column;
  align-items: center;
  .Input-Field {

    margin: 16px;

  }
  .AdminOr{
    margin: 30px;
    
    display: inline;

  }
  
  .AdminUpload{
    margin: 30px;
  }

  .buttonAdmin{
    margin: 16px;
  }
}

input {
  margin: 10px;
}
button {
    border: none;
    padding: 5px 20px;
}
.InputOp{
  display: flex;
  flex-direction: column;
  margin-left: 30px;
}